<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.lodapp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="LODapp.Android" android:theme="@style/MainTheme" android:networkSecurityConfig="@xml/network_security_config" android:usesCleartextTraffic="true" android:icon="@drawable/Logo_APR"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<queries>
		<intent>
			<action android:name="android.intent.action.DIAL" />
			<data android:scheme="tel" />
		</intent>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="http" />
		</intent>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="https" />
		</intent>
		<intent>
			<action android:name="android.media.action.IMAGE_CAPTURE" />
		</intent>
		<intent>
			<action android:name="android.media.action.VIDEO_CAPTURE" />
		</intent>
	</queries>
</manifest>